<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>SANKEY INVESTIGATIONS</title>
    <link rel="icon" href="/static/img/icon.png"/>

    <!--<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>-->
    <script src="/static/js/axios.min.js"></script>
    <!-- <script src="http://d3js.org/d3.v3.js"></script> -->
    <script src="/static/js/d3.v3.js"></script>

    <!-- load CSS -->
    <!-- Google web font "Open Sans" -->
    <link rel="stylesheet" href="/static/css/materialize.min.css">
    <!-- https://materializecss.com -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <!-- https://getbootstrap.com/ -->
    <link rel="stylesheet" href="/static/css/all.min.css">
    <!-- Template Mo style -->

    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/materialize.min.js"></script>
    <!--<script src="/static/js/FileSaver.js"></script>-->

    <!-- https://fontawesome.com/ -->
    <link rel="stylesheet" href="/static/css/templatemo-style.css">
    <style>
        .node rect {
            fill-opacity: .9;
            shape-rendering: crispEdges;
        }

        .node text {
            pointer-events: none;
            text-shadow: 0 1px 0 #fff;
        }

        .link {
            fill: none;
            stroke: #000;
            stroke-opacity: .2;
        }

        .link:hover {
            stroke-opacity: .5;
        }

        .input {
            margin: 0 5px 0 5px;
        }
    </style>
</head>
<body>

<!--<h1>节点布局算法效果调查</h1>-->

<div style="text-align: center;">
    <h2 class="tm-site-name">节点布局算法效果调查</h2>
    <div class="row" style="margin: 0 -15px 0 -15px">
        <div class="col-sm-12 col-md-7">
            <img src="/static/img/logo.png" alt="Image Fetching Failed" height="83.6px">
        </div>

        <div class="col-sm-12 col-md-4">
            <em>
                <div class="tm-highlight">“Your Options Matter”</div>
            </em>
        </div>
    </div>
</div>

<div style="text-align: center">
    <div>本调查问卷涉及 45 道选择题和 1 份问卷，预计 30 分钟完成</div>
    <div>对于每道题目，请在看清题目后<b>选择您认为正确的选择，并点击提交题目</b>即可，系统将会自动记录您的答题时间</div>
</div>

<hr style="stroke: black; stroke-width: 5px; width: 70vw; text-align: center;"/>

<p style="text-align: center;">
    <img src="" alt="Img" id="chart" style="width: 80vw;">
</p>

<hr style="stroke: black; stroke-width: 5px; width: 70vw; text-align: center;"/>

<div id="problemBox" class="container" style="text-align: center;">
    <form name="defaultForm">
        <!-- general info for problems -->

        <!--        <hr style="text-align: center; width: 70%">-->

        <!-- problem description -->
        <p id="problemDescription">loading</p>

        <!-- the problems selections box -->
        <div id="problemsSelectionBox" style="text-align: left; margin-left: 6vw;">
        </div>

        <hr style="text-align: center; width: 70%;">

        <!--        <div id="problemsNumberDisplay" style="margin-bottom: 5px;margin-top: 5px;">第 ~ 类布局，第 ~ 幅，第 ~ 题</div>-->
        <!--        <div id="remainingProblemsNumberDisplay" style="margin-bottom: 5px;margin-top: 5px;">当前布局结果还剩 ~ 题，共 ~ 题</div>-->

        <!-- submit -->
        <input class="btn btn-primary" type="submit" value="提交本题" style="
            margin: 10px 0 10px 0;
            line-height: 20px;
        ">
    </form>

</div>


<link href="/static/css/selectionsFormat.css" type="text/css" rel="StyleSheet"/>

<script src="/static/js/presentProblems.js"></script>
<!-- type="module" -->
</body>

</html>
